:root {
  --main: #dd0426;
  --secondary: #273043;
  --white: #ffffff;
}

body {
  font-family: sans-serif;
  background-color: var(--secondary);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
h1 {
  text-align: center;
  color: var(--white);
}

svg {
  height: 30em;
  width: 60em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(4.6px);
}

svg circle {
  fill: rgb(12, 10, 10);
  /* From https://css.glass */
  border-radius: 16px;
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
}

g.samples circle {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

g.lines line {
  stroke: white;
  stroke-width: 0.02em;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
line {
  animation: fadeIn 1s;
}
