:root {
  --main: #dd0426;
  --secondary: #273043;
  --white: #ffffff;
}

body {
  font-family: sans-serif;
  background-color: var(--secondary);
}
main {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  color: var(--white);
}

svg {
  height: 30em;
  width: 60em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

svg circle {
  fill: rgba(137, 15, 30, 0.89);
  stroke-width: 0.01em;
  /* From https://css.glass */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.2px);
  -webkit-backdrop-filter: blur(18.2px);
  stroke: 1px solid rgba(137, 15, 30, 0.3);
}

g.samples circle {
  fill: black;
}
