:root {
  --main: #dd0426;
  --secondary: #273043;
  --white: #ffffff;
}

body {
  font-family: sans-serif;
}

svg {
  border: solid black 0.1em;
  height: 30em;
  width: 60em;
}

svg circle {
  fill: var(--main);
  stroke-width: 0.01em;
}

g.samples circle {
  fill: black;
}
